<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
</head>
<body>
  <section>
    <form method="POST" action="{{ route('MainController.login') }}">
      {{ csrfField() }}
      <input type="text" name="name" />
      <input type="text" name="email" />
      <input type="password" name="password" />
      <button type="submit">Create Account</button>
    </form>
  </section>
</body>
</html>
